{% extends 'accounts/base.html' %}
{% block title%}
<title>associate info </title>
{% endblock title %}

{% block agent_tasks %}
<!-- associate tracking Table -->
<div class="card table-card mt-4">

    <div class="card-header fw-bold">Associates Tracking History</div>

    <div class="card-body">

        <!--  RESPONSIVE WRAPPER -->
        <div class="table-responsive">

            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Updated By</th>
                        <th>Status</th>
                        <th>Client Name</th>
                        <th>Client_response</th>
                        <th>Updated At</th>
                    </tr>
                </thead>

                {% for h in histories %}
                <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ h.updated_by.email }}</td>

                        <td>
                            {% if h.status == 'pending' %}
                            <span class="badge bg-warning text-dark">Pending</span>
                            {% elif h.status == 'in_progress' %}
                            <span class="badge bg-info text-dark">In Progress</span>
                            {% elif h.status == 'completed' %}
                            <span class="badge bg-success">Completed</span>
                            {% else %}
                            <span class="badge bg-secondary">{{ h.task.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ h.task.name|capfirst }}</td>
                        <td>{{ h.client_response }}</td>
                        <td>{{ h.updated_at|date:"d/m/Y, h:i A" }}</td>
                    </tr>
                </tbody>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <!--  END RESPONSIVE -->

    </div>
</div>
<!-- end-->

{% endblock agent_tasks %}