{% extends 'accounts/associate.html' %}

{% block title %}
<title>associate taks</title>
{% endblock title %}
{% block heading %}
<h3>Leads :</h3>
{% endblock %}

{% block welcome %}
{% endblock welcome %}

{% block content_start %}

<div class="table-responsive">
  <table class="table table-bordered table-hover align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Customer Name</th>
        <th>Customer Email</th>
        <th>Phone Number</th>
        <th>customer Message</th>
        <th>assgined at</th>
        <th>Updated at</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for task in page_obj %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class="text-start">{{ task.name }}</td>
        <td>{{ task.email }}</td>
        <td>{{ task.phone }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.assigned_at }}</td>
        <td>{{ task.updated_at }}</td>
        <td>
          {% if task.status == 'pending' %}
          <span class="badge bg-warning text-dark">Pending</span>
          {% elif task.status == 'in_progress' %}
          <span class="badge bg-info text-dark">In Progress</span>
          {% elif task.status == 'completed' %}
          <span class="badge bg-success">Completed</span>
          {% else %}
          <span class="badge bg-secondary">{{ task.status }}</span>
          {% endif %}
        </td>
        
        <td class="">
          <div class="d-flex justify-content-center align-items-center">
          <a href="{% url 'associate.tracking.history' task.associate.id task.id %}" class="btn btn-sm btn-outline-primary me-1" title="Edit lead">
                view
          </a>
          <a href="{% url 'associatetask.update.dashboard' task.id %}" class="btn btn-sm btn-outline-primary "
            title="Update Task">
            update
          </a>
        </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" lass="text-muted py-4">
          No tasks found
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
   {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">

                <!-- Previous -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        &lsaquo; Previous
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&lsaquo; Previous</span>
                </li>
                {% endif %}

                <!-- Page Numbers -->
                {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <!-- Next -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            Next &rsaquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next &rsaquo;</span>
                    </li>
                    {% endif %}

            </ul>
        </nav>
        {% endif %}
</div>

{% endblock %}