{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title%}
    <title>dashboard</title>
    {% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">

</head>

<body>

    <!-- Top Navbar -->
    <nav class="navbar navbar-dark bg-dark px-3 sticky-top">
        <button class="btn btn-outline-light d-lg-none" id="openSidebar">
            <i class="bi bi-list"></i>
        </button>
        {% if request.user.role == 'admin' %}
        <span class="navbar-brand ms-2">Admin Dashboard</span>
        <div class="dropdown">
            <a class="text-white dropdown-toggle text-decoration-none" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> Admin
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">Profile</a>
                </li>

                <li><a class="dropdown-item" href="{% url 'assign_permissions' %} ">Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% elif request.user.role == 'agent' %}
        <span class="navbar-brand ms-2">Agent Dashboard</span>

        <div class="dropdown">
            <a class="text-white dropdown-toggle text-decoration-none" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> Agent
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">Profile</a>
                </li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% elif request.user.role == 'associate' %}
        <span class="navbar-brand ms-2">Associate Dashboard</span>

        <div class="dropdown">
            <a class="text-white dropdown-toggle text-decoration-none" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> Associate
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">Profile</a>
                </li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% endif %}

    </nav>

    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <div class="col-lg-2 sidebar" id="sidebar">
                <div class="sidebar-header d-lg-none">
                    <span>Menu</span>
                    <button class="btn btn-sm btn-danger" id="closeSidebar">X</button>
                </div>




                <ul class="nav flex-column mt-3">

                    <li class="nav-item">
                        {% if request.user.role == 'admin' %}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                            href="{% url 'dashboard' %}">
                            <i class="bi bi-speedometer2"></i> <span>Dashboard</span>
                        </a>

                        {% elif request.user.role == 'agent' %}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'agent.dashboard' %}active{% endif %}"
                            href="{% url 'agent.dashboard' %}">
                            <i class="bi bi-speedometer2"></i> <span>Dashboard</span>
                        </a>

                        {% elif request.user.role == 'associate' %}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'associate.dashboard' %}active{% endif %}"
                            href="{% url 'associate.dashboard' %}">
                            <i class="bi bi-speedometer2"></i> <span>Dashboard</span>
                        </a>

                        {% endif %}

                    </li>

                    {% if perms.accounts.can_view_admin %}
                    <li class="nav-item">
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'admin.dashboard' %}active{% endif %}"
                            href="{% url 'admin.dashboard' %}">
                            <i class="bi bi-person"></i> <span>Admin</span>

                        </a>
                    </li>
                    {% else %}

                    <li class="nav-item">
                        {% if request.user.role == 'agent'%}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'agent.view.dashboard' %}active{% endif %}"
                            href="{% url 'agent.view.dashboard' %}">
                            <i class="bi bi-person"></i> <span>Agent Dashboard</span>
                        </a>

                        {% elif request.user.role == 'associate' %}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'associate.index.tracking.dashboard' %}active{% endif %}"
                            href="{% url 'associate.index.tracking.dashboard' %}">
                            <i class="bi bi-person"></i> <span>Associates Dashboard</span>
                        </a>

                        {% endif %}
                    </li>

                    {% endif %}

                    {% if perms.accounts.can_view_products %}
                    <li class="nav-item">
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'admin.list_products.dashboard' %}active{% endif %}"
                            href="{% url 'admin.list_products.dashboard' %}">
                            <i class="bi bi-box-seam"></i> <span>Products</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if perms.accounts.can_view_leads %}
                    <li class="nav-item">
                        {% if request.user.role == 'admin' %}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'admin.lead_details.dashboard' %}active{% endif %}"
                            href="{% url 'admin.lead_details.dashboard' %}">
                            <i class="bi bi-list-task"></i> Leads
                        </a>

                        {% elif request.user.role == 'agent' %}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'agent.view_task.dashboard' %}active{% endif %}"
                            href="{% url 'agent.view_task.dashboard' %}">
                            <i class="bi bi-list-task"></i> Leads
                        </a>

                        {% elif request.user.role == 'associate' %}
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'associatetask.dashboard' %}active{% endif %}"
                            href="{% url 'associatetask.dashboard' %}">
                            <i class="bi bi-list-task"></i> <span>Leads</span>
                        </a>

                        {% endif %}
                    </li>
                    {% endif %}

                    {% if perms.accounts.can_view_permissions %}
                    <li class="nav-item">
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'assign_permissions' %}active{% endif %}"
                            href="{% url 'assign_permissions' %}">
                            <i class="bi bi-gear"></i> <span>Permissions</span>
                        </a>
                    </li>
                    {% endif %}


                    {% if perms.accounts.can_view_contacts %}
                    <li class="nav-item">
                        <a class="nav-link nav-links {% if request.resolver_match.url_name == 'contact-details' %}active{% endif %}"
                            href="{% url 'contact-details' %}">
                            <i class="bi bi-person-vcard"></i> <span>Contacts</span>
                        </a>
                    </li>
                    {% endif %}

                </ul>

                <!-- <a class="nav-link nav-links" data-bs-toggle="collapse" href="#userMenu">
                            <i class="bi bi-list-task"></i><span> leads</span>
                        </a>
                        <div class="collapse" id="userMenu">
                            <ul class="nav flex-column ms-3">
                                <li><a class="nav-link nav-links" href="{% url 'agent.view_task.dashboard' %}"> 
                                    <i class="bi bi-arrow-return-right"></i> <span>view lead</span> </a>
                                </li>

                                <li><a class="nav-link nav-links" href="#"> <i class="bi bi-arrow-return-right"></i>
                                        <span>coming soon</span>
                                    </a>
                                </li>
                            </ul>
                        </div> -->

                <ul class="nav flex-column ">
                    <li class="nav-item nav-links">
                        <a class="nav-link text-danger nav-links" href="{% url 'logout' %}"><i
                                class="bi bi-box-arrow-right"></i>
                            Logout</a>
                    </li>
                </ul>

            </div>


            <!-- Main Content -->
            <div class="col-lg-10 content main-content">


                <div class="messages mt-2">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show auto-dismiss" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% elif message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show auto-dismiss" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>

                {% block heading %}
                <h3>Dashboard</h3>
                {% endblock %}


                {% block welcome %}

                {% endblock welcome %}


                {% block content_start %}

                {% endblock %}


            </div>
        </div>
    </div>
    <!-- Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-right modal-dialog-scrollable ">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">My Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body text-center">
                    {% if request.user.profile_image and request.user.profile_image.name %}
                    <a href="#"><img src="{{ request.user.profile_image.url }}" class="rounded-circle mb-2" width="120" height="120"
                        style="object-fit: cover;"></a>
                    {% else %}
                    <form method="post" action="{% url 'upload_profile_image' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="d-block mb-2 text-muted">Upload profile image</label>
                        <input type="file" name="profile_image" class="form-control mb-2" accept="image/*" required>
                        <button class="btn btn-sm btn-primary">Upload</button>
                    </form>
                    {% endif %}

                    <h5 class="mt-3">
                        {{ request.user.name }}
                    </h5>

                    <p class="text-muted mb-1">{{ request.user.email }}</p>

                    <span class="badge bg-primary text-capitalize">
                        {{ request.user.role }}
                    </span>

                    <hr>

                    <div class="text-start">
                        <p><strong>Phone:</strong> {{ request.user.phone|default:"—" }}</p>
                        <p><strong>Last login :</strong> {{ request.user.last_login|date:"d M Y" }}</p>
                    </div>
                </div>

                <div class="modal-footer">
                    
                    <button class="btn btn-danger"><a class="text-decoration-none text-white" href="{% url 'logout' %}">logout</a></button>
                </div>

            </div>
        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'accounts/js/script.js' %}"></script>


</body>

</html>