{% extends 'accounts/base.html' %}

{% block title %}
<title>contact details</title>
{% endblock title %}
{% block heading %}
<h3 class="mb-4 ps-2">Clients Contact Details:</h3>
{% endblock %}

{% block content_start %}


<div class="container mt-5">
    <div class="d-flex justify-content-between me-2 mb-1">
        <form method="get" class="filters" action="">
            <div class="d-flex align-items-center gap-2">
                <input type="search" name="name" class="form-control contact-search-input form-control-sm"
                    placeholder="Enter name" value="{{ request.GET.name }}">
                <button type="submit" class="btn btn-sm btn-primary">
                    Apply
                </button>
            </div>
        </form>

        <button class="btn btn-primary"><a href="{% url 'admin.create-lead.dashbiard' %}"
                class="text-decoration-none text-white">create </a> <i class="bi bi-plus-square-fill"></i></button>
    </div>

    <div class="table-responsive">

        <table class="table table-bordered table-hover">

            <thead class="table-dark">
                <tr>
                    <th>S.No</th>
                    <th>Client Name</th>
                    <th>Client phone</th>
                    <th>Client Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for t in page_obj %}

                <tr>
                    <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>{{ t.name|capfirst }}</td>
                    <td>{{ t.phone }}</td>
                    <td>{{ t.email }}</td>

                    <td>
                        <div class="actions-btn ">
                            <a href="{% url 'admin.edit.contact-details' t.id %}"
                                class="btn btn-sm btn-outline-primary me-1" title="Edit Details">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ t.id }}">
                                <i class="bi bi-trash3"></i>
                            </button>
                            <div class="modal fade" id="deleteModal{{ t.id }}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger">Confirm Delete:</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <div class="modal-body">
                                            Are you sure you want to delete
                                            <strong>{{ t.name }}</strong>?
                                        </div>

                                        <div class="modal-footer">
                                            <!-- NO -->
                                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                                                No
                                            </button>

                                            <!-- YES -->
                                            <form method="POST" action="{% url 'admin-delete-contact-details' t.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">
                                                    Yes, Delete
                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No data found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">

                <!-- Previous -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        &lsaquo; Previous
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&lsaquo; Previous</span>
                </li>
                {% endif %}

                <!-- Page Numbers -->
                {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <!-- Next -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            Next &rsaquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next &rsaquo;</span>
                    </li>
                    {% endif %}

            </ul>
        </nav>
        {% endif %}

    </div>
</div>
{% endblock %}