{% extends "accounts/base.html" %}
{% block title %} <title>edit agent & associate dashboard</title>{% endblock title %}
{% block heading %}
<h3 class="ps-2">Admin :</h3>
{% endblock %}

{% block content_start %}

<div class="container assign_task  mt-4">
    <h3 class="update_title">Edit or Update Details</h3>

    <form method="POST" action="">
        {% csrf_token %}

        <!-- Task Title -->
        <div class="mb-3">
            <label class="form-label form_label">Enter or edit Name:</label>
            <input type="text" name="name" value="{{ edit_user_details.name }}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label form_label">Enter or edit Phone:</label>
            <input type="number" name="phone" value="{{ edit_user_details.phone }}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label form_label">Enter or edit Email:</label>
            <input type="email" name="email" value="{{ edit_user_details.email }}" class="form-control" required>
        </div>
        {% if edit_user_details.profile_image %}
        <div class="mb-3">
            <label><strong>Current Image :</strong></label><br>
            <img src="{{ edit_user_details.profile_image.url }}" alt="Product Image"
                style="max-width:150px; height:auto;" class="mb-2">
        </div>
        {% endif %}

        <div class="mb-3">
            <label><strong>Change Image :</strong></label>
            <input type="file" name="image" class="form-control">
        </div>

        <!-- Buttons -->
        <div class="submit_reset d-flex justify-content-between">
            <div>
                <button type="submit" class="btn btn-primary">
                    Update
                </button>

                <button type="reset" class="btn btn-secondary ms-2">
                    Reset
                </button>
            </div>


            <div>
                <button class="btn btn-success ms-2">
                    <a href="{% url 'admin.dashboard' %}" style="text-decoration: none; color:white">Back</a>
                </button>
            </div>
        </div>

    </form>
</div>
{% endblock %}