{% extends 'accounts/base.html' %}
{% block title %}
<title>agent dashboard view</title>
{% endblock title %}

{% block heading %}
<h3>Agent :</h3>
{% endblock %}


{% block content_start %}



<div class="card table-card mt-4">


    <div class="card-header bg-primary text-white">
        Create Associate
    </div>

    <div class="card-body">
        <form method="POST" action="{% url 'create.associate.account' %}">



            <!-- Django CSRF -->
            {% csrf_token %}

            <div class="row">

                <!-- Full Name -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter full name" required>
                </div>

                <!-- Email -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                </div>

                <!-- Phone -->
                <!-- <div class="col-md-6 mb-3">
                                    <label class="form-label">Phone Number</label>
                                    <input type="tel" class="form-control" placeholder="Enter phone number">
                                </div> -->

                <!-- Role -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Role</label>
                    <select class="form-select form-control" name="role" required>
                        <option value="">Select Role</option>
                        <option value="associate">associate</option>

                    </select>
                </div>

                <!-- Password -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Create password" required>
                </div>

                <!-- Confirm Password -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="confirm-password" class="form-control" placeholder="Confirm password"
                        required>
                </div>

                <!-- Status -->
                <!-- <div class="col-md-6 mb-3">
                                    <label class="form-label">Status</label>
                                    <select class="form-select">
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                </div> -->

            </div>

            <!-- Buttons -->
            <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn-secondary me-2">Reset</button>
                <button type="submit" class="btn btn-success">Create User</button>
            </div>
        </form>
    </div>
</div>

<!-- all agents and associate table-->
<div class="container mt-5">

    <div class="table-responsive">

        <table class="table table-bordered table-hover">
            <h3 class="mb-4">All Associates Details:</h3>
            <thead class="table-dark">
                <tr>
                    <th>S.No</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% if user.role == 'associate' %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        {% if user.is_active %}
                        <span class="text-dark bg-info-subtle p-1 rounded">Active</span>

                        {% endif %}
                    </td>
                    <td>
                        <!-- <a href="#" class="btn btn-sm btn-outline-primary me-1" title="Edit Task">
                            <i class="bi bi-pencil-square"></i>
                        </a> -->


                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ user.id }}">
                            <i class="bi bi-trash3"></i>
                        </button>
                        <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger">Confirm Delete:</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                        Are you sure you want to delete
                                        <strong>{{ user.name }}</strong>?
                                    </div>

                                    <div class="modal-footer">
                                        <!-- NO -->
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                                            No
                                        </button>

                                        <!-- YES -->
                                        <form method="POST"
                                            action="{% url 'agent.deletes.associates.dashboard' user.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">
                                                Yes, Delete
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}

                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<!-- end-->





{% endblock %}