{% extends 'accounts/agent/dashboard.html' %}

{% block title %}
<title>agent assign task</title>
{% endblock title %}

{% block welcome %}
{% endblock welcome %}


{% block content_start %}



<div class="container assign_task mt-4">
    <h3>Assign Task</h3>

    <form method="POST">
        {% csrf_token %}



        <div class="mb-3">
            <label>Assign to Associate</label>
            <select name="associate" class="form-control">
                <option value="">-- Select Associate --</option>
                {% for associate in associates %}
                <option value="{{ associate.id }}">
                    {{ associate.email }}
                </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary my-2">
            Assign Task
        </button>

        <button class="btn btn-secondary my-2">
            <a href="{% url 'agent.view_task.dashboard' %}" class="text-white text-decoration-none">back</a>
        </button>
    </form>
</div>
{% endblock %}