*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
   overflow-x: hidden;
 }
 .dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: -60px;
    top: 42px;
 }
   
 /* Sidebar */
 .sidebar {
   background: #212529;
   min-height: 100vh;
   color: white;
   padding: 10px;
 }

 .sidebar .nav-link {
   color: #adb5bd;
 }

 .sidebar .nav-link:hover,
 .sidebar .nav-link.active {
   color: white;
   background: #343a40;
   border-radius: 5px;
 }
.nav-links{
  display: flex;
  justify-content: flex-start;
}
.nav-links i{
  margin-right: 10px;
}

.form-check-input[type=checkbox] {
  border: 1px solid black !important;
}


 /* Mobile sidebar */
 @media (max-width: 991px) {
   .sidebar {
     position: fixed;
     left: -100%;
     top: 0;
     width: 250px;
     z-index: 1050;
     transition: 0.3s;
   }

   .sidebar.show {
     left: 0;
   }
 }

 .sidebar-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background: #343a40;
 }

 .form-control:focus,
 .form-select:focus {
   border-color: inherit !important;
   box-shadow: none !important;
   border-radius: 0px !important;
 }

 /* .table-card{
  border: 1px solid black !important;
} */
 .submit_reset {
   margin: 10px 0px;
 }

 .assign_task {
   border: 2px solid rgb(211, 211, 211);
 }

 .update_title {
   width: 400px;
   color: #3a62e5 !important;
   /* background: grey; */
   padding: 15px 0px;
   border-bottom: 1px solid black;
 }

 .form_label {
   font-size: 17px;
   font-weight: 600;
 }

 .table td,
 .table th {
   vertical-align: middle;
 }
 

 .badge {
   padding: 6px 10px;
   font-size: 0.85rem;
 }

 .bi-person-circle {
   color: #15bcff;
   font-size: 22px;
 }



 @media (max-width: 768px) {
   .actions-btn {
     display: flex !important;
     justify-content: space-between !important;
     align-items: center !important;
   }
 }
/* FIX sidebar on LARGE screens only */
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 56px;              /* height of navbar */
    left: 0;
    width: 220px;
    height: calc(100vh - 56px);
    overflow-y: auto;
    z-index: 1020;
  }

  /* Push page content to the right */
  .main-content {
    margin-left: 216px;
  }
}

.contact-search-input{
  border: 1px solid black;
}
/*frofile model */

.modal-dialog-right {
    position: fixed;
    right: 0;
    top: 9%;
    margin: 0;
    width: 350px;
    height: 93%;
}

.modal-dialog-right .modal-content {
    height: 100%;
    border-radius: 0;
}
.modal.fade .modal-dialog-right {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog-right {
    transform: translateX(0);
}
